section{
    background-color: black;
    height: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;

    >img{
        height: 65px;
    }
    >a{
        text-decoration: none;
        color: white;
    }
}